<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
Hello_5___!!!

<!--Это Тэг <a> в нем слово Say Goodbay является гиперссыллкой на /SpringMVCApp3_war_exploded/goodbye  -->
<a href="/SpringMVCApp5_war_exploded/first/goodbye">Say Goodbay</a> or <a href="/SpringMVCApp5_war_exploded/exit">Exit</a>
or <a href="?name=Tom&surname=Jones">Request with parametrs</a>

<!--отображает на WEB-странице то что передано в файле FirstController.java в model.addAttribute("message", "Hello " + name + " " + surname);  -->
<!-- th:text="${message}"-это атрибут ThymeLeaf, он находит значение по ключу ${message} и выводит на страницу -->
<p th:text="${message}"/>
</body>
</html>